<link rel="apple-touch-icon" sizes="180x180" href="htdocs\res\favicons/apple-touch-icon.png?v=0.1">
<link rel="icon" type="image/png" sizes="32x32" href="htdocs\res\favicons/favicon-32x32.png?v=0.1">
<link rel="icon" type="image/png" sizes="194x194" href="htdocs\res\favicons/favicon-194x194.png?v=0.1">
<link rel="icon" type="image/png" sizes="192x192" href="htdocs\res\favicons/android-chrome-192x192.png?v=0.1">
<link rel="icon" type="image/png" sizes="16x16" href="htdocs\res\favicons/favicon-16x16.png?v=0.1">
<link rel="manifest" href="htdocs\res\favicons/site.webmanifest?v=0.1">
<link rel="mask-icon" href="htdocs\res\favicons/safari-pinned-tab.svg?v=0.1" color="#000000">
<link rel="shortcut icon" href="htdocs\res\favicons/favicon.ico?v=0.1">
<meta name="apple-mobile-web-app-title" content="Code Editor">
<meta name="application-name" content="Code Editor">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="htdocs\res\favicons/mstile-144x144.png?v=0.1">
<meta name="msapplication-config" content="htdocs\res\favicons/browserconfig.xml?v=0.1">
<meta name="theme-color" content="#ff0029">