main {
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 4rem;
    left: 0;
    background: #111;
    padding: 12.5px;
}

.code-container {
    position: relative;
    background: #000;
    border-radius: 8px;
    margin-top: 1.45rem;
    width: 100%;
    height: 50vh;
    padding: 12.5px;
    display: flex;
    flex-direction: row;
}

.code,
.CodeMirror{
    height: 50vh;
    white-space: nowrap;
    z-index: 17;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative; 
    resize: none;
    width: 30%;
    border: 1px solid #333;
    outline: none;
    scroll-behavior: smooth;
    border-radius: 4px;
}

.code-container label{
    text-align: center;
    border: 1px solid #333;
    border-radius: 4px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: black;
    font-size: 15px;
    align-items: center;
    padding-left: 5px;
    font-weight: normal;
    font-family: 'Syne Mono', sans-serif;
    width: 75px;
    height: 50px;
    padding: 3px;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: 'Syne Mono', sans-serif;
  height: auto;
  direction: ltr;
}

.result{
    position: relative;
    top: 4rem;
    background: transparent;
    border-radius: 8px;
    width: 100%;
    height: 50vh;
    outline: none;
    border: 1px solid #333;
    border-radius: 3px;
}

#runCode{
    position: relative;
    background: #ff0040;
    padding: 10px;
    margin-top: 80px;
    border: 0;
    outline: 0;
}

#preview{
    
}

@media (max-width: 800px) {
    .code-container {
        flex-direction: column;
        height: 85vh;
    }

    .code,
    .CodeMirror{
        position: relative;
        height: 50vh;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
        border: 1px solid #333;
        border-radius: 3px;
    }
}